*{
    margin: 0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Roboto', sans-serif;
    color: white;
}


li a{
    text-decoration: none;
    width: 100%;
}


li{
    list-style: none;
    display: inline;
    padding:10px;
}


body{
    background-color: hsla(0, 25%, 98%, 0.986);
}


header{
    background-color: black;
}


.container{
    display: flex;
    justify-content: space-between;
    max-width: 1024px;
    margin: 0 auto;
    align-items: center;
    height: 60px;
    background-color: black;
}

.iphone1 img{
    width: 400px;
    margin-top: 15px;
}


.iphone1 {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    max-width: 1024px;
    width: 100%;
    margin: auto;
}

.sobre-a-loja h2, h3{
    display:flex;
    padding: 5px;
    max-width: 570px;
    color: black;
    
}


.sobre-a-loja h2{
    font-size: 20px;
    margin-top: 20px;
    border-bottom: 2px black solid;
    padding-bottom: 10px;
}

.sobre-a-loja h3{
    font-size: 14px;
    margin-top: 10px;
}

.market img{
    width: 220px;
    height: 240px;
    margin-bottom: 10px;
	
}

.market h2, h3, h4  {
    color: black;
    
}
.market h3{
    font-size: 15px;
    width: 200px;
    margin-top: 20px;
}
.market h4{
    font-size: 11px;
    width:200px ;
    margin-top: 5px;

}


.produtos{
    max-width: 1024px;
    width: 100%;
    margin:0 auto ;
    
}

.produtos h2{
    border-bottom: 1px black solid;
    color: black;
    margin-top: 30px;
    padding-bottom: 20px;
}

.market{
    margin-left: 100px;
    max-width: 150px;
    display: inline-block;
    justify-content: left;
    
}

button{
    width: 200px;
    height: 40px;
    margin-top: 10px;
    background-color: green;
    cursor: pointer;
}
button:hover{
    background-color: greenyellow;
   transition: 0.4s;
   color: black;
}


@media screen and (max-width: 1023px) {
    body{
        display: block;
    }

    .container .iphone1{
        max-width: 90%;
        display: block;
        justify-content: space-between;
        max-width: 1024px;
        margin: 0 auto;
        align-items: center;
        height: 60px;
        background-color: black;
    }

        .iphone1 img{
            width: 90%;
            margin-top: 15px;
        }
        
        
        .iphone1 {
            display: block;
            padding: 10px;
            justify-content: space-between;
            max-width: 1024px;
            width: 100%;
            margin: auto;
        }
        
        .sobre-a-loja h2, h3{
            display:block;
            padding: 5px;
            max-width: 570px;
            color: black;
            
        }
        
        
        .sobre-a-loja h2{
            font-size: 20px;
            margin-top: 20px;
            border-bottom: 2px black solid;
            padding-bottom: 10px;
        }
        
        .sobre-a-loja h3{
            font-size: 14px;
            margin-top: 10px;
    }
    

    }


    
    @media screen and (max-width: 640px) {
        body{
            display: block;
        }
    
        .container .iphone1{
            max-width: 100%;
            display: block;
            justify-content: space-between;
            max-width: 1024px;
            margin: 0 auto;
            align-items: center;
            height: 60px;
            background-color: black;
        }
    
            .iphone1 img{
                width: 100%;
                margin-top: 15px;
            }
            
            
            .iphone1 {
                display: block;
                padding: 10px;
                justify-content: space-between;
                max-width: 1024px;
                width: 100%;
                margin: auto;
            }
            
            .sobre-a-loja h2, h3{
                display:block;
                padding: 5px;
                max-width: 570px;
                color: black;
                
            }
            
            
            .sobre-a-loja h2{
                font-size: 20px;
                margin-top: 20px;
                border-bottom: 2px black solid;
                padding-bottom: 10px;
            }
            
            .sobre-a-loja h3{
                font-size: 14px;
                margin-top: 10px;
        }
        .market img{
            width: 300px;
            height: 340px;
            margin-bottom: 10px;
            
        }
        
        .market h2, h3, h4  {
            color: black;
            
        }
        .market h3{
            font-size: 20px;
            width: 200px;
            margin-top: 20px;
        }
        .market h4{
            font-size: 15px;
            width:200px ;
            margin-top: 5px;
        
        }
        
        
        .produtos{
            max-width: 640px;
            width: 100%;
            margin:0 auto ;
            
        }
        
        .produtos h2{
            border-bottom: 1px black solid;
            color: black;
            margin-top: 30px;
            padding-bottom: 20px;
        }
        
        .market{
            margin-left: 100px;
            max-width: 600px;
            display: block;
            
            
        }
        
        button{
            width: 300px;
            height: 40px;
            margin-top: 10px;
            background-color: green;
            cursor: pointer;
        }
        button:hover{
            background-color: greenyellow;
           transition: 0.4s;
           color: black;
        }
        
    
        }
    
    
        
    